/* header */

.blue-header{
    background-color: blue;
}

.jumbo-container{
    background-color: aquamarine;
}

.blue-jumbo{
    background-color: blue;
}

/* main */

.radio{
    color: blue;
}

.btn-blue-main{
    background-color: blue;
}

.bi-check-lg{
    color: blue;
}