/* header */

.blue-header{
    background-color: #0061FF;
}

.jumbo-container{
    background-color: #B4D0E7;
}

.blue-jumbo{
    background-color: #0061FF;
}

/* main */

.radio{
    color: #0061FF;
}

.btn-blue-main, .btn-blue-main-horizontal{
    background-color: #0061FF;
}

.bi-check-lg{
    color: #0061FF;
}

/* fifth section  */

.green-logo{
    background-color: #A2D39B;
}

.d-red-logo{
    background-color: #61082B;
}

.b-blue-logo{
    background-color: #0093CE;
}

.b-red-logo{
    background-color: #FF1C1C;
}

.central-sec-5{
    background-color: #F5F5F5;
}

.red-logo{
    background-color: #D5001F;
}

.l-blue-logo{
    background-color: #B4D0E7;
}

.blue-logo{
    background-color: #0D2481;
}

.yellow-logo{
    background-color: #FFD830;
}

/* sixth section */

.sec-6{
    background-color: #B4D0E7;
}

.sec-6-title{
    color: #61082B;
}