/* header */

.blue-header{
    background-color: blue;
}

.jumbo-container{
    background-color: aquamarine;
}

.blue-jumbo{
    background-color: blue;
}

/* main */

.radio{
    color: blue;
}

.btn-blue-main, .btn-blue-main-horizontal{
    background-color: blue;
}

.bi-check-lg{
    color: blue;
}

/* fifth section  */

.green-logo{
    background-color: green;
}

.d-red-logo{
    background-color: darkred;
}

.b-blue-logo{
    background-color: cyan;
}

.b-red-logo{
    background-color: tomato;
}

.central-sec-5{
    background-color: burlywood;
}

.red-logo{
    background-color: red;
}

.l-blue-logo{
    background-color: aqua;
}

.blue-logo{
    background-color: blue;
}

.yellow-logo{
    background-color: yellow;
}

/* sixth section */

.sec-6{
    background-color: cornflowerblue;
}

.sec-6-title{
    color: darkred;
}