*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */

nav{
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

body{
    margin-top: 80px;
}

.header-section{
    display: flex;
    align-items: center;
    margin: 20px;
}

.header-list{
    list-style: none;
    display: flex;
    gap: 40px;
}

.header-link{
    text-decoration: none;
    color: black;
}

.header-right{
    margin-left: 30px;
}

.header-left{
    margin-right: 30px;
}

.btn-header{
    border: none;
    padding: .3em;
    padding-inline: .7em;
}

.white-header{
    margin-right: 5px;
    background-color: white;
}

.blue-header{
    color: white;
}

/* Jumbo */

.jumbo{
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.display-jumbo{
    display: flex;
    align-content: first baseline; TODO: capire come allineare testo e immagine
}

.jumbo-text{
    margin: 50px;
    max-width: 50%;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.jumbo-title{
    font-size: 50px;
}

.btn-jumbo{
    text-align: left;
    margin-top: 20px;
    max-width: max-content;
    border: none;
    
}

.blue-jumbo{
    padding: 1em;
    color: white;
}

.white-jumbo{
    background-color: rgba(255, 255, 255, 0);
}

.bi-arrow-down{
    margin-top: 20px;
}

.jumbo-img-container{
    position: relative;
}

.jumbo-img{
    max-width: 500px;
    position: absolute;
    left: -20px;
    top:70px
}

/* main */

main .container{
    max-width: 1000px;
    margin: 100px auto;

}

.fatturazione{
    margin-top: 50px;
    display: flex;
    gap: 50px;
}

.section1-title{
    font-size: 2em;
}

.tab{
    margin-top: 50px;

}

.tab-header, .tab-main{
    padding: 1em;
    border: 1px solid grey;
}

.tab-main{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.tab-list{
   list-style: none; 
}